<a href="/catalog/{{_id}}" class="added-electronics-in-market">
    <img src="./image/laptop.webp" class="picture-added-electronics"/>
        <h3>Laptop HP EliteBook 820 G4</h3>
        <span>Price: $153</span>
</a>