global:
  scrape_interval: 5s 
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - localhost:9093

rule_files:
  - "alert-rules-contact-book.yml"

scrape_configs:
  - job_name: "contact-book"

    static_configs:
      - targets: 
        - localhost:8080
    

