.section {
}

.section .inner {
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    max-width: 80ch;
    margin: 0 auto;
    padding: var(--fs-heading-1);
}