<section class="search-container">
    <h2>Search Recipes</h2>
    <form method="get">
        <input type="text" id="search" name="search" placeholder="Search for recipes..." {{#if
            data.name}}value="{{data.name}}" {{/if}}>
        <button type="submit">Search</button>
    </form>
    {{#if recipes}}
    <div class="search-results">
        {{#each recipes }}
        {{> recipe}}
        {{/each}}

        {{else}}
            <p class="no-match">There are no recipes found yet!</p>
            {{/if}}
        <!-- <p class="no-match">There are no recipes found yet!</p> -->
    </div>
</section>