div {
    border: 2px solid black;
    padding: 1em;
}

.overflow-visible {
    overflow: visible;
    height: 50px;
    width: 30%;
}

.overflow-hidden {
    overflow: hidden;
    height: 50px;
    width: 30%;
}

.overflow-scroll {
    overflow: scroll;
    height: 50px;
    width: 30%;
}