<div class="info">
    <h2 class="title">Classroom Management Essentials</h2>
    <h4 class="genre">Type: Management</h4>
    <h4 class="certificate">Certificate: Yes</h4>
    <h4 class="price">Price: €25</h4>
    <div class="learn-more">
        <a href="#">Learn More...</a>
    </div>
</div>