p.highlighted {
    color: rgb(92, 92, 228);
}

div#special {
    background: orange;
    box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(0, 0, 0, 0.3)
}

details[open] summary {
    font-size: 1.2em;
    color: #090;
}